/* CSS declarations go here */
body {

}
ul {
  margin: 0;
  padding: 0;
  background: white;
  color: black;
}
li {
  position: relative;
  list-style: none;
  margin: 15px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 10px;
}
.quiz-preview{}

.quiz-preview-image{
  width: 100%;
  height: 400px;
  background-color: grey;
}


.quiz-list{
  /*margin-top: 9vh;*/
}
.quiz-list-section{

}
.quiz-list-item-container{
  height:30vh;
}
.quiz-list-item-image{ 
  /*height:20vh;*/
}
.quiz-list-item-title{ 
/*  height:5vh;
  font-size: 2em;*/
}
.quiz-list-item-answers{  
  /*height:25vh;*/
}
.correctAnswer{
  background-color: green;
}
.wrongAnswer{
  background-color: red;
}

